// Place all the styles related to the links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  background-color: #eeeeee!important;
  background-image: url(grid-18px-masked.png);
  background-repeat: repeat-x;
  background-position: 0 0px;
  padding-top:0px;
}
#wrapper{
  position:relative;
  margin:auto;
  float: none;
  margin-bottom:20px;
  background:#fff;
  padding:20px;
  margin-top:-3px;
  min-width:370px;
  width:370px;
  padding-top:50px;
  border:1px solid #aaa;
  -webkit-border-bottom-right-radius: 15px;
  -webkit-border-bottom-left-radius: 15px;
  -moz-border-radius-bottomright: 15px;
  -moz-border-radius-bottomleft: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.40);
  -moz-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.40);
  -webkit-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.40);
}

  form#new_link{
    #new_link_url{ width:260px; }
    #new_link_submit{ width:96px; }
  }
h1{
  text-align:center;
  padding-bottom:10px;
}
#order_selector{
  margin-left: 0;
  margin-bottom: 15px;
  width:100%;
  .btn{
    width:50%;
  }
}

#signin{
  position:absolute;
  top:0;
  right:21px;
}
#signout{
  position:absolute;
  top:0px;
  right:21px;
}
.center{
 margin:0 auto;
 float:none;
}

