// Place all the styles related to the links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  background-color: #eeeeee!important;
  background-image: url(grid-18px-masked.png);
  background-repeat: repeat-x;
  background-position: 0 0px;
  padding-top:0px;
}
#wrapper{
  width:400px;
  margin:auto;
  margin-bottom:20px;
  background:#fff;
  padding:20px;
  padding-top:20px;
  border:1px solid #aaa;
  -webkit-border-bottom-right-radius: 15px;
  -webkit-border-bottom-left-radius: 15px;
  -moz-border-radius-bottomright: 15px;
  -moz-border-radius-bottomleft: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.40);
  -moz-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.40);
  -webkit-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.40);

}

#preview{
  display:none;
  width:400px;
  position: absolute;
  top: 20px;
}
h1{
  text-align:center;
  padding-bottom:10px;
}
h2{
  color: #aaa;
}
